<header class="header">
  <div class="logo">
    <img src="img/logo/logo-fasticket.jpg" alt="FASTICKET">
  </div>
  <div class="header-buttons">
    <button class="btn-header" (click)="router.navigate(['/crear_usuario'])">Registrarse</button>
    <!-- Botón con icono de casita -->
    <button class="btn-icon" title="Ir a Página Principal">
      <img src="img/logo/home.jpg" alt="Inicio">
    </button>
  </div>
</header>

<div class="login-container">
  <!-- Lado izquierdo con la imagen -->
  <div class="poster">
    <img src="img/logo/concierto.jpg" alt="Concierto">
  </div>

  <!-- Lado derecho con el formulario -->
  <div class="form-container">
    <h1>Iniciar Sesión</h1>
    <p class="subtitle">Ingresa y accede a muchos beneficios</p>

    <form (ngSubmit)="onSubmit()">
      <input type="email" placeholder="Correo Electrónico" [(ngModel)]="username" name="username" required>
      <input type="password" placeholder="Contraseña" [(ngModel)]="password" name="password" required>

      <div class="forgot-wrap">
        <a (click)="router.navigate(['/cambiar_contra'])" class="forgot-link" style="cursor: pointer;">¿Olvidaste tu contraseña?</a>
      </div>

      <button type="submit" class="btn-login">Iniciar Sesión</button>

      <div class="register-wrap">
        <span>¿No tienes cuenta?</span>
        <a (click)="router.navigate(['/crear_usuario'])" class="register-link" style="cursor: pointer;">Regístrate</a>
      </div>

      <div class="divider"></div>

      <button type="button" class="btn-google">Continuar con Google</button>
    </form>
  </div>
</div>
