<div class="p-dialog-content">
    <div class="dialog-header">
        <h2 class="dialog-title">Términos de Politica</h2>
    </div>

    <div class="dialog-content">
        <p class="intro-text">
            En FasTicket, nos tomamos muy en serio la protección de tus datos. Nuestra Política de Privacidad explica cómo recopilamos, usamos y protegemos tu información.
        </p>

        <ol class="terms-list">
            <li>
                Información Recopilada: Recopilamos datos básicos como tu nombre, correo electrónico y detalles de pago para procesar tus compras y gestionar tu cuenta.
            </li>
            <li>
                Uso de la Información: Usamos tus datos para confirmar tus compras, enviarte notificaciones sobre eventos y mejorar tu experiencia en nuestra plataforma.
            </li>
            <li>
                Protección de Datos: Tus datos personales y de pago están protegidos mediante encriptación. No compartimos tu información con terceros sin tu consentimiento
            </li>
        </ol>
    </div>

    <p class="intro-text">
      Al usar FasTicket, aceptas la recopilación y el uso de tu información según se describe en esta política.
    </p>
    <div class="dialog-footer">
        <p-button label="Acepto" (onClick)="aceptar()" styleClass="p-button-primary"></p-button>
    </div>
</div>
