<header class="header">
  <div class="logo">
    <img src="img/logo/logo-fasticket.jpg" alt="FASTICKET">
  </div>
  <div class="header-buttons">
    <button class="btn-header" (click)="router.navigate(['/login'])">Iniciar Sesion</button>
    <!-- Botón con icono de casita -->
    <button class="btn-icon" title="Ir a Página Principal">
      <img src="img/logo/home.jpg" alt="Inicio">
    </button>
  </div>
</header>

<div class="login-container">
  <!-- Lado izquierdo con la imagen -->
  <div class="poster">
    <img src="img/logo/concierto.jpg" alt="Concierto">
  </div>

<!-- Lado derecho con el formulario de registro -->
  <div class="form-container">
    <h1>¡Crea tu cuenta!</h1>
    <p class="subtitle">Regístrate y accede a muchos beneficios</p>

    <form>
      <input type="text" placeholder="Nombres *" required>
      <input type="text" placeholder="Apellidos *" required>
      <input type="email" placeholder="Correo Electrónico *" required>
      <input type="password" placeholder="Contraseña *" required>
      <input type="password" placeholder="Repita Contraseña *" required>

      <div class="form-row">
        <input type="date" placeholder="Fecha de nacimiento *" required>
        <select required>
          <option value="">Departamento *</option>
          <option value="lima">Lima</option>
          <option value="arequipa">Arequipa</option>
          <option value="cusco">Cusco</option>
        </select>
        <select required>
          <option value="">Distrito *</option>
          <option value="miraflores">Miraflores</option>
          <option value="san-isidro">San Isidro</option>
          <option value="barranco">Barranco</option>
        </select>
      </div>

      <input type="text" placeholder="Dirección domiciliaria *" required>

      <div class="form-row">
        <input type="tel" placeholder="Número de Teléfono *" required>
        <select required>
          <option value="">Tipo de Documento *</option>
          <option value="dni">DNI</option>
          <option value="pasaporte">Pasaporte</option>
          <option value="ce">Carnet de Extranjería</option>
        </select>
        <input type="text" placeholder="Número de Documento *" required>
      </div>

      <button type="submit" class="btn-login">Continuar</button>

      <p class="terms-text">
        Al registrarse acepta los <a href="#" (click)="mostrarTerminos($event)">Términos del Servicio</a><br>
        y la <a href="#"  (click)="mostrarPoliticas($event)">Política de Privacidad</a>
      </p>
    </form>
  </div>

</div>
