h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
  color: #000;
}

p {
  font-size: 0.95rem;
  color: #555;
  text-align: center;
  margin-bottom: 1.5rem;
}

.btn-continuar {
  display: block;
  margin: 0 auto;
  background-color: #5CD13B; /* verde */
  color: #fff;
  border: none;             /* elimina el borde */
  outline: none;            /* elimina el borde al hacer focus */
  padding: 0.6rem 1.5rem;
  border-radius: 6px;
  font-size: 0.95rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-continuar:hover {
  background-color: #4bb32f; /* verde más oscuro al hover */
}
