<div class="header-container d-flex align-items-center justify-content-between">
  <div class="header-title text-truncate" [title]="breadcrumbFull">
    <!-- Mostrar solo el breadcrumb corto en pantallas pequeñas -->
    <span
      pTooltip="{{ breadcrumbFull }}"
      tooltipPosition="bottom"
      class="d-sm-none"
      >{{ breadcrumbDisplay }}</span
    >

    <!-- Mostrar breadcrumb completo en pantallas sm en adelante -->
    <span
      pTooltip="{{ breadcrumbFull }}"
      tooltipPosition="bottom"
      class="d-none d-sm-inline text-truncate"
      >{{ breadcrumbFull }}</span
    >
  </div>

  <div class="perfil">
    <p-avatar
      (click)="menu.toggle($event)"
      size="large"
      shape="circle"
      class="imagen"
    />
    <p-menu #menu [model]="items" [popup]="true" appendTo="body" />
  </div>
</div>
